{% extends "base/bhlpu.html" %}
{% block infopago %}
{% if item %}
<label style='color:#c83737;'><strong>Cotización:</strong></label> <span>
	{{ item.NombrePago }}
	<input type="hidden" id='denomination' name="denomination" value="{{ item.NombrePago }}">
	<input type="hidden" id='CodigoPublico' name="CodigoPublico" value="{{ item.CodigoPublico }}">
</span><br>
<label style='color:#c83737;'><strong>Monto a pagar:</strong></label> <span>
	S/ {{ item.Monto }} SOLES
	<input type="hidden" id="amount" name="amount" value="{{ item.Monto }}">
</span>&nbsp;&nbsp;&nbsp;
<label style='color:#c83737;'><strong>Estado de pago:</strong></label>
{% if item.EstadoPago %}
<span style='background:green; color:white;'>PAGADO</span>
{% else %}
<span style='background:red; color:white;'>NO PAGADO</span>
{% endif%}<br>
<label style='color:#c83737;'><strong>Cliente:</strong></label><span> {{ item.Cliente }}</span>
{% endif %}

{% endblock %}
{% block metodopago %}
{% if item %}
<style media="screen">
	input {
		color: black !important;
	}
</style>
<div class="sap_tabs">
	<div id="horizontalTab" style="display: block; width: 100%; margin: 0px;" readonly='readonly'>
		{% if item.EstadoPago %}
		<div class="pay-tabs">
			<h2>Pago realizado satisfactorimente</h2>
			<label style='color:#c83737;'><strong>Fecha de Pago:</strong></label> <span>
				{{ item.FechaPago }} {{resta}}asd
			</span><br>
			<label style='color:#c83737;'><strong>Monto Pagado:</strong></label> <span>
				S/ {{ item.Monto }} SOLES
				<input type="hidden" id="amount" name="amount" value="{{ item.Monto }}">
			</span>&nbsp;&nbsp;&nbsp;
			<label style='color:#c83737;'><strong>Código de Referencia:</strong></label>
			{{ item.CodigoReferencia }}<br>
		</div>
		<div class="tab-for">
			<!-- <h5 style='color:#c83737; font-weight:bold;'>Al realizar el pago acepta los TERMINOS Y CONDICIONES.</h5> -->
			<div style="padding:0px !important; text-align:center; padding-top:15px;">
				<h3 style="color:#c83737;">SI NO TE LLEGO EL CORREO DE CONFIRMACIÓN QUIZA DEBAS REVISAR TU BANDEJA SPAM.</h3>
			</div>
		</div>
		{% else %}
		<div class="pay-tabs">
			<h2>Métodos de Pagos</h2>
			<ul class="resp-tabs-list">
				<li class="resp-tab-item" aria-controls="tab_item-0" role="tab"><span><label class="pic1"></label>Tarjeta Débito/Crédito</span></li>
				<li class="resp-tab-item" aria-controls="tab_item-x" role=""><span><label class="pic3"></label>Depósito Bancario</span></li>
				<li class="resp-tab-item" aria-controls="tab_item-x" role=""><span><label class="pic4"></label>Pago<br>PayPal</span></li>
				<div class="clear"></div>
			</ul>
		</div>
		<div class="resp-tabs-container">
			<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
				<div class="payment-info">
					<h3>Pago</h3>
					<form method="POST" class="post-form" autocomplete="off">
						<input type="hidden" name="" value="{{ csrf_token }}" id="csrf">
						<input type="button" value="REALIZAR PAGO" style="width:100%; color:white !important;" id="PagoHacklibreURL">
						<div class="tab-for">
							<!-- <h5 style='color:#c83737; font-weight:bold;'>Al realizar el pago acepta los TERMINOS Y CONDICIONES.</h5> -->
							<div style="padding:0px !important; text-align:center; padding-top:15px;">
								<h3 style="color:#c83737;">Vilsoft no guarda la Información de sus tarjetas.</h3>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-1">
				<div class="payment-info">
					<h3>Depósito Bancario</h3>
					<strong>proximamente...</strong>
				</div>
			</div>
			<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-2">
				<div class="payment-info">
					<h3>PayPal</h3>
					<strong>proximamente...</strong>
				</div>
			</div>
		</div>
		{% endif %}
	</div>
</div>
{% endif %}
{% endblock %}
