{% extends "base/baseinitial.html" %}
{% load vilsoftextrax %}
{% load staticfiles %}
{% block closeneedchangepass %} {% endblock %}
{% block blocknopass %}
<div class="content content-fixed content-auth-alt">
	<div class="container d-flex justify-content-center ht-100p">
		<div class="mx-wd-300 wd-sm-450 ht-100p d-flex flex-column align-items-center justify-content-center" style='width:100%;'>
			<div class="wd-80p wd-sm-300 mg-b-15">
				<img src="{% static 'img/img18.png' %}" class="img-fluid" alt="">
			</div>
			<h4 class="tx-20 tx-sm-24">Cambia tu contraseña</h4>
			<p class="tx-color-03 mg-b-30 tx-center">Para mejorar la seguridad del sistema es necesario que cambie su contraseña inicial, no podrá continuar si no realiza el cambio de contraseña.</p>
			<div class="wd-100p d-flex flex-column flex-sm-row mg-b-100">
				<form method="post" novalidate style='width:100%;'>
					{% csrf_token %}
					<div class="container">
						<div class="row">
							<div class="col-md-4" style='text-align:left;'>
								<strong>{{ form.old_password.label }}</strong>
								{{ form.old_password }}
								{{ form.old_password.errors }}
							</div>
							<div class="col-md-3" style='text-align:left;'>
								<strong>{{ form.new_password1.label }}</strong>
								{{ form.new_password1 }}
								{{ form.new_password1.errors }}
							</div>
							<div class="col-md-3" style='text-align:left;'>
								<strong>{{ form.new_password2.label }}</strong>
								{{ form.new_password2 }}
								{{ form.new_password2.errors }}
							</div>
							<div class="col-md-2"><br>
								<button type="submit" class="btn btn-info btn-fill btn-wd">Actualizar Clave</button>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4"></div>
							<div class="col-md-8">
								<span class="helptext"><ul><li>Su contraseña no puede asemejarse tanto a su otra información personal.</li><li>Su contraseña debe contener al menos 8 caracteres.</li><li>Su contraseña no puede ser una clave utilizada comunmente.</li><li>Su contraseña no puede ser completamente numérica.</li></ul></span>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div><!-- container -->
</div>
{% endblock %}
{% block js %}
<script>
	 $("#id_old_password").addClass("form-control flex-fill");
	 $("#id_new_password1").addClass("form-control flex-fill");
	 $("#id_new_password2").addClass("form-control flex-fill");
</script>
{% endblock %}
