{% extends "base/baseinitial.html" %}
{% load vilsoftextrax %}
{% load staticfiles %}
{% block closeneedchangepass %} {% endblock %}
{% block blocknopass %}
<div class="content content-fixed content-auth-alt">
	<div class="container d-flex justify-content-center ht-100p">
		<div class="mx-wd-300 wd-sm-450 ht-100p d-flex flex-column align-items-center justify-content-center" style='width:100%;'>
			<div class="wd-80p wd-sm-300 mg-b-15">
				<img src="{% static 'img/img18.png' %}" class="img-fluid" alt="">
			</div>
			<h4 class="tx-20 tx-sm-24">Contraseña ha sido recuperada con exito</h4>
			<div class="tx-13 tx-lg-14 mg-b-40">
				<a href="/accounts/login/" class="btn btn-brand-02 d-inline-flex align-items-center">Volver al login</a>
			</div>
		</div>
	</div><!-- container -->
</div>
{% endblock %}
{% block js %}

{% endblock %}
