{% extends 'base/baseinitial.html' %}
{% load staticfiles %}
{% block titulo %}
<a href="{% url 'ordencompra:OrdenCompra' id%}" class="text-primary fa-stack" data-toggle="tooltip" data-placement="bottom" data-original-title="Regresar">
	<i class="far fa-arrow-alt-circle-left fa-2x "></i>
</a>
	Generar Orden de Compra
{% endblock %}
{% block content %}
<form method="post">
	{% csrf_token %}
	<div class="container">
		<div class="row">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>{{form.FacturaCompraFisico.label }}</label>{{form.FacturaCompraFisico }}
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>{{form.GuiadeRemisionFisico.label }}</label>{{form.GuiadeRemisionFisico }}
						</div>
					</div>
					<div class="offset-md-4 col-md-4">
						<button type="submit" class="btn btn-outline-primary btn-ico">Generar Orden</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
{% endblock %}
