<meta charset='utf-8'>

<body marginheight='0' marginwidth='0' topmargin='0' rightmargin='0' leftmargin='0' bgcolor='#FFFFFF' yahoo='fix' yahoofix
   style='background-color: #ffffff; font-family: Arial, Helvetica, sans-serif; margin: 0; padding: 0; -webkit-font-smoothing: antialiased; width: 100%;'>
   <table width='100%' border='0' cellspacing='0' cellpadding='0'>
	   <tr>
		   <td align='center' valign='top' bgcolor='#FFFFFF'>
			   <table width='570' border='0' cellspacing='0' cellpadding='0' bgcolor='#e9eae8'>
				   <tr>
					   <td align='left' valign='top'><a href='#!' target='_blank' style='outline:none;'><img src='https://i.imgur.com/ReveNHh.jpg' width='570' alt='banner' border='0' style='vertical-align:top;'></a> </td>
				   </tr>
			   </table>
			   <table width='570' border='0' cellspacing='0' cellpadding='0' bgcolor='#fff'>
				   <tr>
					   <td align='center' valign='top'>
						   <h3 style='color: #c73636;text-align: center;font-size: 22px;background-color: #fff;margin: 45px auto 10px;'> Estimado:<br>{{nombreusuario|title}} </h3>
					   </td>
				   </tr>
			   </table>
			   <table width='400' border='0' cellspacing='0' cellpadding='0' bgcolor='#fff'>
				   <tr>
					   <td align='left' valign='top' style='text-align:justify;'>
						   <p style='color: #706a6a;font-size: 16px; margin-bottom: 20px;margin-top: 30px;'> A continuaci&oacute;n enviamos el detalle de pago: </p>
					   </td>
				   </tr>
				   <tr>
					   <td align='center' valign='top' style='color: #706a6a;'>
						   <h3 style='color: #c73636;text-align: center;font-size: 22px;background-color: #fff;'> Constancia de pago </h3>
							{{contenido|safe}}
					   </td>
				   </tr>
			   </table>
			   <table width='500' border='0' cellspacing='0' cellpadding='0' bgcolor='#ffffff'>
				   <tr>
					   <td align='center' valign='top' style='padding-top: 20px; '> </td>
				   </tr>
			   </table>
			   <table width='570' border='0' cellspacing='0' cellpadding='0' bgcolor='#ffffff'>
				   <tr>
					   <td align='left' valign='top'>
						   <footer>
							   <div class='conteiner' style='background:#c83737'>
								   <div class='row'>
									   <div class='col-md-12'>
										   <div class='redes' style='text-align:center; padding-top:10px;'>
											   <ul class='row socialnetworks' style='padding:0 10px;margin-top: 20px;'>
												   <li class='col-md-4' style=' display: inline-block; width: auto;overflow: hidden;padding: 10px 5px 0;'><a href='https://www.facebook.com/hacklibre/' target='_blank'><img
															   src='https://i.imgur.com/4VITlB3.png' alt='facebook' style='width:25px;'></a></li>
												   <li class='col-md-4' style=' display: inline-block; width: auto;overflow: hidden;padding: 10px 5px 0;'><a href='https://twitter.com/hacklibre' target='_blank'><img
															   src='https://i.imgur.com/4XmEXZw.png' alt='twitter' style='width:25px;'></a></li>
												   <li class='col-md-4' style='display: inline-block; width: auto;overflow: hidden;padding: 10px 5px 0;'><a href='https://www.linkedin.com/company/hacklibre/about/' target='_blank'><img
															   src='https://i.imgur.com/cQxm0x7.png' alt='linkedin' style='width:25px;'></a></li>
											   </ul>
										   </div>
									   </div>
									   <div class='col-md-12'>
										   <p style='font-size: 14px;font-weight: bold;text-align: center;color: #ffffff;vertical-align: middle;padding-bottom:10px;'> &copy; 2019 Vilsoft S.A.C - Todos los derechos reservados</p>
									   </div>
								   </div>
							   </div>
						   </footer>
					   </td>
				   </tr>
			   </table>
			   <table width='520' align='center' border='0' cellspacing='0' cellpadding='0' bgcolor='#ffffff'>
				   <tr>
					   <td width='520' align='center' valign='center' style='color:#50535a; font-family:Arial, Helvetica, sans-serif; font-size:9px; padding-bottom:10px; text-align: justify;padding-top: 20px'>
						   <p style='width: 475px;  margin: 0 auto; color:#4d4d4d; font-family:Arial, Helvetica, sans-serif; font-size:9px; text-align: justify;line-height: 11px'> La informaci&oacute;n contenida en este correo electr&oacute;nico es
							   originada por Vilsoft SAC o por sus subsidiarias, es de uso privilegiado, tiene car&aacute;cter confidencial y s&oacute;lo puede ser utilizada por la persona a quien ha sido dirigida. Su divulgaci&oacute;n, copia
							   y/o adulteraci&oacute;n no autorizada est&aacute; estrictamente prohibida. Si usted no es el destinatario previsto, por favor cont&aacute;ctese con el remitente y elimine el mensaje. Esta comunicaci&oacute;n es
							   s&oacute;lo para prop&oacute;sitos de informaci&oacute;n y no genera obligaci&oacute;n contractual alguna a cargo de Vilsoft SAC. </p>
					   </td>
				   </tr>
			   </table>
		   </td>
	   </tr>
   </table>
</body>
