{% extends "base/baseinitial.html" %}
{% load ecoextras %}
{% load staticfiles %}
{% block closeneedchangepass %} {% endblock %}
{% block blocknopass %}
<div class="content content-fixed content-auth-alt">
	<div class="container ht-100p tx-center">
		<div class="ht-100p d-flex flex-column align-items-center justify-content-center">
			<div class="wd-70p wd-sm-250 wd-lg-300 mg-b-15"><img src="{% static 'img/img19.png' %}" class="img-fluid" alt=""></div>
			<h1 class="tx-color-01 tx-24 tx-sm-32 tx-lg-36 mg-xl-b-5">404 Página no encontrada</h1>
			<h5 class="tx-16 tx-sm-18 tx-lg-20 tx-normal mg-b-20">Oopps. La página que esta buscando no existe.</h5>
			<p class="tx-color-03 mg-b-30">Es posible que haya escrito mal la dirección o que la página se haya movido.</p>
		</div>
	</div><!-- container -->
</div><!-- content -->
{% endblock %}
{% block js %}

{% endblock %}
