{% extends "base/baseinitial.html" %}
{% load ecoextras %}
{% load staticfiles %}
{% block closeneedchangepass %} {% endblock %}
{% block blocknopass %}
<div class="content content-fixed content-auth-alt">
      <div class="container ht-100p tx-center">
        <div class="ht-100p d-flex flex-column align-items-center justify-content-center">
          <div class="wd-70p wd-sm-250 wd-lg-300 mg-b-15"><img src="../../assets/img/img20.png" class="img-fluid" alt=""></div>
          <h1 class="tx-color-01 tx-24 tx-sm-32 tx-lg-36 mg-xl-b-5">500 Error de servicio interno</h1>
          <h5 class="tx-16 tx-sm-18 tx-lg-20 tx-normal mg-b-20">Oopps. Se produjo un error.Vuelve a intentarlo más tarde.</h5>
          <p class="tx-color-03 mg-b-30">El servidor encontró un error interno del servidor y no pudo completar su solicitud.</p>
        </div>
      </div><!-- container -->
    </div><!-- content -->
{% endblock %}
{% block js %}

{% endblock %}
