{% extends 'base/baseinitial.html' %}
{% load staticfiles %}
{% load vilsoftextrax %}
{% block activedashboard%} active {% endblock %}
{% block content %}
{% if request.user.is_superuser or request.user|has_group:"Administrador" or request.user|has_group:"Jefe de Ventas"%}
	<div class="row row-xs">
		<div class="col-sm-6 col-lg-3">
			<div class="card card-body">
				<h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Número de Cotizaciones</h6>
				<div class="d-flex d-lg-block d-xl-flex align-items-end">
					<h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1">{{conqnt}}</h3>

				</div>
				<div class="chart-three">
					<div id="flotChart3" class="flot-chart ht-30"></div>
				</div><!-- chart-three -->
			</div>
		</div><!-- col -->
		<div class="col-sm-6 col-lg-3 mg-t-10 mg-sm-t-0">
			<div class="card card-body">
				<h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">NÚMERO DE ORDENES DE COMPRA</h6>
				<div class="d-flex d-lg-block d-xl-flex align-items-end">
					<h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1">{{conorden}}</h3>
				</div>
				<div class="chart-three">
					<div id="flotChart4" class="flot-chart ht-30"></div>
				</div><!-- chart-three -->
			</div>
		</div><!-- col -->
		<div class="col-sm-6 col-lg-3 mg-t-10 mg-lg-t-0">
			<div class="card card-body">
				<h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">VENTAS REALIZADAS</h6>
				<div class="d-flex d-lg-block d-xl-flex align-items-end">
					<h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1">{{conqtnfacturado}}</h3>
				</div>
				<div class="chart-three">
					<div id="flotChart5" class="flot-chart ht-30"></div>
				</div><!-- chart-three -->
			</div>
		</div><!-- col -->
		<div class="col-sm-6 col-lg-3 mg-t-10 mg-lg-t-0">
			<div class="card card-body">
				<h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">ORDENES REALIZADAS</h6>
				<div class="d-flex d-lg-block d-xl-flex align-items-end">
					<h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1">{{conorderealizado}}</h3>
				</div>
				<div class="chart-three">
					<div id="flotChart6" class="flot-chart ht-30"></div>
				</div><!-- chart-three -->
			</div>
		</div><!-- col -->
		<div class="col-md-6 col-xl-4 mg-t-10">
			<div class="card ht-100p">
				<div class="card-header d-flex align-items-center justify-content-between">
					<h6 class="mg-b-0">Ultimas Cotzaciones</h6>
				</div>
				<ul class="list-group list-group-flush tx-13">
					{% for ven in ventas%}
					<li class="list-group-item d-flex pd-sm-x-20">
						<div class="avatar d-none d-sm-block"><span class="avatar-initial rounded-circle bg-teal"><i class="{% icono ven.Estado %}"></i></span></div>
						<div class="pd-sm-l-10">
							<p class="tx-medium mg-b-0">{{ven}}</p>
							<small class="tx-12 tx-color-03 mg-b-0">{{ven.FechaRegistro | date:'d-m-Y H:i'}}</small>
						</div>
						<div class="mg-l-auto text-right">
							<!-- <p class="tx-medium mg-b-0">+ $250.00</p> -->
							<small style="{% fontcolor ven.Estado %}">{{ven.Estado}}</small>
						</div>
					</li>
					{% endfor%}
				</ul>
				<div class="card-footer text-center tx-13">
					<a href="{% url 'cotizaciones:gestionaQTN' %}" class="link-03">Ver Ultimas Cotizaciones <i class="icon ion-md-arrow-down mg-l-5"></i></a>
				</div><!-- card-footer -->
			</div><!-- card -->
		</div>
		<div class="col-md-6 col-xl-4 mg-t-10">
			<div class="card ht-100p">
				<div class="card-header d-flex align-items-center justify-content-between">
					<h6 class="mg-b-0">Nuevos Productos</h6>
				</div>
				<ul class="list-group list-group-flush tx-13">
					{% for pro in producto%}
					<li class="list-group-item d-flex pd-sm-x-20">
						<div class="avatar"><img src="{{ pro.Foto.url }}" class="rounded-circle" alt=""></div>
						<div class="pd-l-10">
							<p class="tx-medium mg-b-0">{{pro}}</p>
							<small class="tx-12 tx-color-03 mg-b-0">Nombre: {{pro.Nombre}}</small>
						</div>
					</li>
					{% endfor %}
				</ul>
				<div class="card-footer text-center tx-13">
					<a href="{% url 'items:DetalleProducto' %}" class="link-03">Ver más Productos <i class="icon ion-md-arrow-down mg-l-5"></i></a>
				</div><!-- card-footer -->
			</div><!-- card -->
		</div>
		<div class="col-md-6 col-xl-4 mg-t-10">
			<div class="card ht-100p">
				<div class="card-header d-flex align-items-center justify-content-between">
					<h6 class="mg-b-0">Ultimas Ordenes de Compra</h6>
				</div>
				<ul class="list-group list-group-flush tx-13">
					{% for ven in orden%}
					<li class="list-group-item d-flex pd-sm-x-20">
						<div class="avatar d-none d-sm-block"><span class="avatar-initial rounded-circle bg-teal"><i class="{% icono ven.Estado %}"></i></span></div>
						<div class="pd-sm-l-10">
							<p class="tx-medium mg-b-0">{{ven}}</p>
							<small class="tx-12 tx-color-03 mg-b-0">{{ven.FechaCreacion | date:'d-m-Y H:i'}}</small>
						</div>
						<div class="mg-l-auto text-right">
							<!-- <p class="tx-medium mg-b-0">+ $250.00</p> -->
							<small style="{% fontcolor ven.Estado %}">{{ven.Estado}}</small>
						</div>
					</li>
					{% endfor%}
				</ul>
				<div class="card-footer text-center tx-13">
					<a href="{% url 'ordencompra:DetalleCompra'%}" class="link-03">Ver Ultimas Ordenes de Compra <i class="icon ion-md-arrow-down mg-l-5"></i></a>
				</div><!-- card-footer -->
			</div><!-- card -->
		</div>
	</div><!-- row -->
{% endif %}
{% endblock %}
